<div class="container coasters-index">

    <h1 style="font-weight: 100">{{name}}</h1>

    <h4>Descripción</h4>
    <p>{{description}}</p>

    <h4>Activo</h4>
    <p>{{active}}</p>
    
    <hr>

    <a href="/parks" class="btn btn-dark">Volver</a>

    <a href="/parks/{{_id}}/remove" class="btn btn-dark">Eliminar</a>

    <a href="/parks/edit/{{_id}}" class="btn btn-dark">Editar</a>

</div>